@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 4rem; 
}

@layer utilities {
  .header-height {
    height: var(--header-height);
  }

  .sidenav-height {
    height: calc(100vh - var(--header-height) - 1rem); 
  }

  .sidenav-sticky{
    position:sticky;
    top:var(--header-height);
  }

  .list-marker-green li::marker {
    color: #34D399;
  }
}
