@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 4rem; 
}

@layer utilities {
  .h-header {
    height: var(--header-height);
  }

  .h-sidenav {
    height: calc(100vh - var(--header-height) - 1rem); 
  }

  .sticky-sidenav{
    position:sticky;
    top:var(--header-height);
  }

  .list-marker-green li::marker {
    color: #34D399; /* You can use any color you prefer */
  }
}
